*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightskyblue;
}

#mainHead{
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 10px;
}

#navBar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    padding: 15px;
    background-color: aquamarine;
    
}

#navBar a{
    text-decoration: none;
    color: azure;
    padding: 8px 16px;
    background-color: burlywood;
    border-radius: 10px;
}

/* Funciona solo cuando el mouse está encima. */
#navBar a:hover{
    text-transform: uppercase;
    text-shadow: 3px 3px 5px red; /* Requiere 4 parámetros (desp hor, desp ver, desenfoque, color sombra) */
    background-color: lightseagreen;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    z-index: 199;
    display: none;
}

#overlay.active{
    display: block;
}

.content{
    display: none;
}

.content.active{
    display: block;
}

#sideMenu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 200;
    background-color: forestgreen;
}

#sideMenu.open{
    transform: translateX(0%);
}

.objectBox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.itemExample{
    background-color: beige;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: fit-content;
}
.demoBox{
    display: flex;
    margin-top: 5px;
    gap: 5px;
}

.item{
    background-color: coral;
    padding: 15px;
    border-radius: 10px;
    color: mediumpurple;
}

#demoFlexDirection{
    display: flex;
    flex-direction: column;
}

#demoFlexWrap{
    display: flex;
    flex-wrap: wrap;
}
